input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + div > .checkmark-logo {
  background-color: var(--color-purplish-blue);
  border: 1px solid var(--color-purplish-blue);
}

input[type="checkbox"]:checked + div {
  background-color: var(--color-magnolia);
  border: 1px solid var(--color-purplish-blue);
}

.checkmark-logo {
  box-sizing: border-box;
  background-color: var(--color-white);
  height: 1.25rem;
  width: 1.25rem;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--color-cool-gray);
}

.checkmark-cost {
  margin-left: auto;
  margin-right: 0.25rem;
  color: var(--color-purplish-blue);
}