.step-container {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: 10rem;
  width: auto;
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
}

.step.active {
  color: var(--color-marine-blue);
  background-color: var(--color-pastel-blue);
  border: none;
}

.form-container {
  position: relative;
  top: 5rem;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 2rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid var(--color-light-gray);
  color: black;
  transition: all 0.5s ease;
}

input:hover {
  cursor: pointer;
  border-color: var(--color-purplish-blue);
}

.back-button {
  background-color: inherit;
  border: none;
  color: var(--color-cool-gray);
  font-weight: 600;
}

.footer-form {
  position: relative;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1rem;
}

#select-plan-id {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#select-plan-id input[type="radio"] {
  display: none;
}

/* Shared styles between RadioButton and ToggleSwitch */
.radio-button-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  color: var(--color-marine-blue);
  width: 100%;
  transition: all 0.25s ease-in-out;
  gap: 1rem;
}

.radio-button-container:hover {
  border: 1px solid var(--color-purplish-blue);
  transform: translateY(-2px);
  box-shadow: 0 0.25rem 0.25rem #5d5d5d33;
  cursor: pointer;
}

/* //////////////////////// */

#select-plan-id input[type="radio"]:checked + div {
  background-color: var(--color-magnolia);
  border: 1px solid var(--color-purplish-blue);
}

.switch-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--color-magnolia);
  border-radius: 8px;
}

/* select add-on checkboxes */
#select-add-ons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* STEP 4 */

.summary {
  background-color: var(--color-magnolia);
  padding: 1rem;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.internal-link {
  text-decoration: underline;
}

.internal-link:hover {
  color: var(--color-marine-blue);
  cursor: pointer;
}

/* Step 5 */

.thank-you-logo {
  height: 3.5rem;
  width: 3.5rem;
  margin: auto;
  margin-top: 2rem;
}


.logosheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itmusicfest-wrapper {
  background-image: url('/bgmusicfest.webp');
  background-size: cover;
}

.logos-firstviewport {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.band {
  position: relative;
  margin-top: -10%;
}

.blackeyedpeas-wrapper {
  position: relative;
  text-align: center;
}

.blackeyedpeas-wrapper .info-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.blackeyedpeas-wrapper .info-text h1 {
  color: #E30613;
  font-weight: bold;
  line-height: 0.9;
}

.blackeyedpeas-wrapper .info-text h2 {
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.band {
  width: 75%;
}

.register-wrapper {
  background-image: url('/bgmusicfest.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.areas-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding: 20px;
}

.areas-title span {
  background-color: #E30613;
  padding: 10px 20px;
  border-radius: 25px;
}

.areas {
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  word-spacing: 15px;
}

.get-register {
  background-color: #0A66FF;
  width: fit-content;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 60px;
  text-align: center;
  line-height: 0.8;
}

.get-register span {
  font-size: 20px;
}

.limit {
  color: white;
  font-weight: bold;
  background-color: #E30613;
  padding: 8px 20px;
  border-radius: 15px;
  line-height: 1;
}

.get-register2 {
  background-color: #FFFFFF;
  width: fit-content;
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 60px;
  text-align: center;
}

.get-register2 strong {
  color: #E30613;
}

.footer-socialmedia a {
  padding-left: 20px;
}

.footer-socialmedia svg {
  fill: white;
  width: 30px;
  transition: 0.3s ease-in-out;
}

.footer-socialmedia svg:hover {
  fill: #E30613;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 995px) {
  .logoband {
    width: 100%;
  }

  .band {
    width: 100%;
  }
}
/* Override Mobile CSS with Desktop css at bottom of file */
@media (min-width: 768px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .desktop-app {
    display: flex;
  }

  .step-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(300deg,rgb(166, 3, 3),rgb(0, 0, 0),rgb(85, 1, 1));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    width: 16rem;
    height: auto;
    justify-content: flex-start;
    border-radius: 8px;
  }

  .desktop-sidebar {
    align-items: center;
  }

  .form-container {
    top: unset;
  }

  #select-plan-id {
    flex-direction: row;
  }

  /* styles just for radio button (checkmark button does not use these) */
  .radio-button-container.radio-desktop {
    flex-direction: column;
    align-items: flex-start;
    min-width: 8rem;
    min-height: 10rem;
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .logos-firstviewport {
    font-size: 20px;
  }

  .blackeyedpeas-wrapper .info-text h2 {
    font-size: 1.3em;
  }

  .logosheader img {
    width: 150px;
  }

  .areas-title {
    font-size: 1em;
  }

  .areas {
    font-size: 1.5em;
  }

  .get-register {
    font-size: 1em;
  }

  .get-register span {
    font-size: 12px;
  }
}