@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
  /* Colors */

  /* primary colors */
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);

  /* neutral colors */
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-marine-blue);;
  background-color: var(--color-light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

p {
  color: var(--color-cool-gray);
}

p, label {
  font-size: 15px;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--color-marine-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  box-shadow: 0 1rem 10rem #00000033;
  background-color: var(--color-white);
  color: var(--color-marine-blue);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-marine-blue);
    background-color: var(--color-light-gray);
  }
  a:hover {
    color: var(--color-marine-blue);
  }
  button {
    background-color: var(--color-marine-blue);
  }
}

/* UTILITY CLASSES */

/* TEXT COLOR */
.text-primary {
  color: var(--color-marine-blue);
}

.text-secondary {
  color: var(--color-purplish-blue);
}

.text-red {
  color: var(--color-strawberry-red);
}

/* FONT WEIGHT */
/* based off tailwind https://tailwindcss.com/docs/font-weight */
.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

/* Background Colors */
.bg-color-secondary {
  background-color: var(--color-purplish-blue);
  border: 1px solid var(--color-purplish-blue);
}

/* LAYOUT */
.flex-between {
  display: flex;
  justify-content: space-between;
}

.column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.min-height-1 {
  min-height: 1rem;
}

/* BORDERS */
.border-b {
  border-bottom: 1px solid var(--color-light-gray);
}

.border-red {
  border: 1px solid var(--color-strawberry-red);
}
